# Compiled binary files:
*.out
*.o
*.a
*.exe

# Possible build output directories:
build/
bin/
obj/
dist/

# IDE/Editor-specific files and directories:
.vscode/
.idea/
*.suo
*.sln
*.user
*.suo
*.userprefs
*.sublime-project
*.sublime-workspace

# Possible generated/temporary files:
*.log
*.bak
*.swp

# Operating system/editor backup files:
*~
